---
import Technology from "./Technology.astro";
---

<!-- First section: Frameworks loved -->
<div>
  <h2 class="text-5xl font-semibold text-white mb-8 text-center">
    <span
      >Frameworks I
      <span
        class="bg-clip-text text-transparent bg-gradient-to-r from-yellow-200 to-yellow-500 animate-gradient"
      >
        Love
      </span>
      <div class="flex flex-wrap justify-center items-center">
        <Technology name="django" animation="bounce" />
        <Technology name="astro" animation="bounce" />
        <Technology name="nuxt" animation="bounce" />
      </div>
    </span>
    <!-- Second section: All Frameworks Worked With -->
    <div class="mt-32">
      <h2 class="font-semibold
       text-white mb-4 text-center ">
        Frameworks I've
        <span>
          <span
            class="bg-clip-text text-transparent bg-gradient-to-r from-white to-yellow-500 animate-gradient"
          >
            Worked
          </span>
          With
        </span>
      </h2>
      <div class="mt-32 flex flex-wrap justify-center items-center space-x-14">
        <Technology name="react" size="sm" animation="pulse" position="down" />
        <Technology name="vue" size="sm" animation="pulse" position="up" />
        <Technology
          name="nextjs"
          size="sm"
          position="down"
          class="bg-white rounded-lg flex p-2 animate-pulse"
        />
        <Technology name="nuxt" size="sm" animation="pulse" position="up" />
        <Technology name="astro" size="sm" animation="pulse" position="down" />
        <Technology name="django" size="sm" animation="pulse" position="up" />
        <Technology name="svelte" size="sm" animation="pulse" position="down" />
      </div>
    </div>

    <div class="w-4/5 mx-auto h-0.5 my-12">
      <div class="w-full h-full bg-gradient-to-r from-white to-yellow-600">
      </div>
    </div>
  </h2>
</div>
