---
import { Icon } from "astro-icon";
---

<div class="h-screen">
  <!-- First section: Frameworks loved -->
  <div>
    <h2 class="text-5xl font-semibold text-white mb-8 text-center">
      <span
        >Frameworks I
        <span
          class="bg-clip-text text-transparent bg-gradient-to-r from-yellow-200 to-yellow-500 animate-gradient"
        >
          Love
        </span></span
      >
    </h2>
    <div class="flex flex-wrap justify-center items-center">
      <div class="w-32 h-32 m-4">
        <Icon name="vscode-icons:file-type-django" class="animate-bounce" />
      </div>
      <div class="w-32 h-32 m-4">
        <Icon name="vscode-icons:file-type-astro" class="animate-bounce" />
      </div>
      <div class="w-32 h-32 m-4">
        <Icon name="logos:nuxt-icon" class="animate-bounce" />
      </div>
    </div>
  </div>

  <!-- Second section: All Frameworks Worked With -->
  <div class="mt-48">
    <h2 class="text-3xl font-semibold text-white mb-4 text-center">
      Frameworks I've <span>
        <span
          class="bg-clip-text text-transparent bg-gradient-to-r from-white to-yellow-500 animate-gradient"
        >
          Worked
        </span> With</span
      >
    </h2>
    <div class="flex flex-wrap justify-center items-center">
      <div class="w-16 h-16 m-4">
        <Icon name="logos:react" class="animate-pulse" />
      </div>
      <div
        class="w-16 h-16 m-4 p-2 bg-white rounded-lg flex justify-center animate-pulse"
      >
        <Icon name="teenyicons:nextjs-solid" />
      </div>
      <div class="w-16 h-16 m-4">
        <Icon name="logos:vue" class="text-yellow-500 animate-pulse" />
      </div>
      <div class="w-16 h-16 m-4">
        <Icon name="logos:nuxt-icon" class="animate-pulse" />
      </div>
      <div class="w-16 h-16 m-4">
        <Icon name="vscode-icons:file-type-django" class="animate-pulse" />
      </div>
      <div class="w-16 h-16 m-4">
        <Icon name="vscode-icons:file-type-astro" class="animate-pulse" />
      </div>
      <div class="w-16 h-16 m-4">
        <Icon name="vscode-icons:file-type-svelte" class="animate-pulse" />
      </div>
    </div>
  </div>
</div>
