---
import Technology from './Technology.astro'
---

<!-- First section: Frameworks loved -->
<div>
	<h2 class="mb-8 text-center text-5xl font-semibold text-white">
		<span
			>Frameworks I
			<span
				class="animate-gradient bg-gradient-to-r from-yellow-200 to-yellow-500 bg-clip-text text-transparent"
			>
				Love
			</span>
			<div class="flex flex-wrap items-center justify-center">
				<Technology name="django" animation="bounce" />
				<Technology name="astro" animation="bounce" />
				<Technology name="nuxt" animation="bounce" />
			</div>
		</span>
		<!-- Second section: All Frameworks Worked With -->
		<div class="mt-32">
			<h2 class="mb-4
       text-center font-semibold text-white">
				Frameworks I've
				<span>
					<span
						class="animate-gradient bg-gradient-to-r from-white to-yellow-500 bg-clip-text text-transparent"
					>
						Worked
					</span>
					 With
				</span>
			</h2>
			<div class="mt-32 flex flex-wrap items-center justify-center space-x-14">
				<Technology name="react" size="sm" animation="pulse" position="down" />
				<Technology name="vue" size="sm" animation="pulse" position="up" />
				<Technology
					name="nextjs"
					size="sm"
					position="down"
					class="flex animate-pulse rounded-lg bg-white p-2"
				/>
				<Technology name="nuxt" size="sm" animation="pulse" position="up" />
				<Technology name="astro" size="sm" animation="pulse" position="down" />
				<Technology name="django" size="sm" animation="pulse" position="up" />
				<Technology name="svelte" size="sm" animation="pulse" position="down" />
			</div>
		</div>

		<div class="mx-auto my-12 h-0.5 w-4/5">
			<div class="h-full w-full bg-gradient-to-r from-white to-yellow-600"></div>
		</div>
	</h2>
</div>
